body, html {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block; 
    border: 0; 
  }

  .snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 20px;
    pointer-events: none;
    user-select: none;
    animation: fall 10s linear infinite;
  }

  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }

  audio {
    display: none; 
  }

  iframe {
    display: none; 
  }
  